body{
	background: #000 url(../img/bgnd_master.jpg) no-repeat;
	font-family: Arial;
	}
header{
	margin: 0 auto 0 auto;
	/*background-color: #000;*/
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	}
footer{
	margin-top:30px;
	padding-top:5px;
	border-top:solid 1px #ccc;
	font-size: 12px;
	text-align: center;
	color:#ccc;
	}
footer a{
	color:#ccc;
	}
#cajaDeLogin{
	font-size: 14px;
	margin: 0 auto 0 auto;
	padding: 5px 5px 15px 5px;
	border-radius: 10px;
	color:#fff;
	font-weight:bold;
	box-shadow: yellow 0 5px 15px 0;
	margin-top:35px;
	}
#cajaDeLogin input{
	font-size: 13px;
	}
#cajaDeLogin h2{
	color: #fff;
	text-align: center;
	}
.align_right{
	text-align: right;
	}
.align_center{
	text-align: center;
	}
.label_login{
	display: block;
	float: left;
	width: 100px;
	}
.botonLogin{
	font-family: Arial;
	font-size: 14px;
	padding: 5px 0px 5px 0px;
	background-color:#ccc;
	margin:10px;
	text-align:center;
	border-radius: 10px;
	box-shadow: green 0 5px 5px 0;
	width:100px;
	margin: 0 auto 0 auto;
	}
.botonLogin a{
	text-decoration:none;
	color:#000;
	font-weight:bold;
	display:block;
	padding-top:5px;
	padding-bottom:5px;
	}

/*Mi Apuestas*/
label{
	display: block;
	float: left;
	width: 100px;

}
article{
	padding:5px;
	margin: 0 auto 0 auto;
	width:280px;
	/*background-color:#fff;
	opacity:0.5;*/
	font-weight:bold;
	color:#fff;
}
.texto_blanco{
	color:#fff;
}
#div_button{
	font-family: Arial;
	font-size: 14px;
	padding: 5px 0px 5px 0px;
	background-color:#ccc;
	margin:10px;
	text-align:center;
	border-radius: 10px;
	box-shadow: cyan 0 2px 5px 0;
	width:50%;
	margin: 0 auto 0 auto;
}
#div_button a{
	text-decoration:none;
	color:#000;
	font-weight:bold;
	display:block;
	padding-top:5px;
	padding-bottom:5px;
}